.page-header{
    margin-top: 20px;
}
.input-form {
    display: inline-block
}
.location-name {
    display: inline-block
}
.temperature{
    display: inline-block
}
.history {
    display: inline-block
}